//colors

$gray-background: #6e717a;

$pale-text: #c0c8ff;

$purple-background: #7d82d5;

$purple-hover: #464a94;

$reel-box-color: #5b7eff;

$text-color-white: #a5b1ff;

$quicksand-font: 'Quicksand', sans-serif; 

$cursive-font: 'Dancing Script', cursive;