<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Lia Vernaet</title>
  </head>
  <section id="siteContainer">

	  
	   <header class="expanded row" data-sticky-container>
		<div id="headerCon" data-sticky data-options="marginTop:0" style="width:100%">
			<!--header navigation-->
	      <div class="small-12 large-12 columns" >
             <a href="index.html"><img src="images/logo.png" id="logoMobile" alt="Logo"></a>
			  <h2 class="hide">Main Navigation</h2>
				<ul id="mainNav" >
   	                <li><a href="#contactPage">contact</a></li>
   	                <li><a href="#myWork">my work</a></li>
   	                <li><a href="aboutme.html">about me</a></li>
               </ul>
				</nav>
			</div>
			
			
			<!--header logo --> 
			<div class="small-12 large-4 large-pull-9 columns">
        <a href="index.html"><img src="images/logo.png" id="logo" alt="Logo"></a>
        
		    </div>
			 
		
		</div>
    </header>
	  
	
	  <section id="indexPage" >
    <div id="banner">
    		<div class="small-12 large-12 large-centered columns">
    			<h2>Lia Vernaet</h2>
          <p>graphic design, animation, video editing</p>
          
         
    		</div>
    </div>
	  </section>

      <div>
       <h2 class="hidden">Demo Reel</h2>
         <div class="small-12 large-10 large-centered columns" id="reelContainer">
         <h2 class="divTitle">Demo Reel</h2>
         <video controls>
            <source src="videos/demoreel.mp4" type="video/mp4">
              <source src="videos/demoreel.webm" type="video/webm">
                <source src="videos/demoreel.ogv" type="video/ogv">
        </video>
         </div>
    </div>

     

      <div class="menu">
        
    <section class="row" class="iconRow"><h2 class="hide">icons</h2>
      <h2 class="myWorkTitle" id="myWork">my work</h2>
       
      <h2 class="divTitle">animation & video</h2>
          <h2 class="hidden">Gallery Thumbnails</h2>

            <main id="appVid">

                <ul>
                    <li v-for="tbl_videos in videodata" class="thumbnails">
                        <button :data-movie="tbl_videos.id" v-on:click="fetchMore" class="more-details"></button>
                        <a :href="tbl_videos.file_Vidname" v-on:click="loadMovie">
                            <img :src="'images/' + tbl_videos.file_Vidthumb" alt="">
                        </a>
                    </li>
                </ul>

        
                <section class="hidden-movies" :class="{'show-movie' : showDetails }">
                    <span class="close-lightbox" v-on:click="scrollBackUp" :class="{'show-scroller': showDetails }">x</span>
                    <h3 class="movie-title"> {{ videotitle }}</h3>
                    <video :src="'videos/' + videosource" autoplay controls></video>
                    <div class="movie-details">
                        <p> {{ videodescription }} </p>
                    </div>
                </section>
                
            </main>

         <!--   <h2 class="divTitle">graphic design</h2>-->

            <!-- <main id="appPhoto">

                <ul>
                    <li v-for="tbl_photos in photodata" class="thumbnails">
                        <button :data-movie="tbl_photos.id" v-on:click="fetchMore" class="more-details"></button>
                        <a :href="tbl_photos.file_photoname" v-on:click="loadMovie">
                            <img :src="'images/' + tbl_photos.file_Photothumb" alt="">
                        </a>
                    </li>
                </ul>

        
                <section class="hidden-movies2" :class="{'show-movie' : showDetails }">
                    <span class="close-lightbox" v-on:click="scrollBackUp" :class="{'show-scroller': showDetails }">x</span>
                    <h3 class="movie-title"> {{ phototitle }}</h3>
                    <img :src="'images/' + photosource"></img>
                    <div class="movie-details2">
                        <p> {{ photodescription }} </p>
                    </div>
                </section>
                
            </main> -->

         </div>
        </section>

      </div>

	  <div id="formPartten">
     <section  id="contactPage" class="row">
         <div class="small-12 large-6 large-centered columns" >
            
           <h2 class="myWorkTitle">contact me</h2>
         <form  id="contactForm" action="form.php" method="post">
					
				    <label class="formName" for="name">name</label>
					<input  type="text" required size="30"  id="name"><br>
				
					<label class="formName" for="email">email</label>
					<input  type="email" required size="30"  id="email"><br>
						
					 <label class="formName" for="message">message</label>
					<input  type="text" required size="30"  id="message"><br>
					
					
					<input id="submit" type="submit" value="submit">
			</form>
         </div>
	  
    </section></div>
    


	  
  <footer id="footerCon">
    <section class="row">
      <nav class="small-12 large-12 columns">
        <h2 class="hide">Main Footer</h2>
        <p id="footerText">&copy 2018 Lia Vernaet</p>
      </nav>
    </section>


<!-- <h2>test</h2> -->
    
    <script src="js/what-input.js"></script>
  <script src="js/foundation.js"></script>
    <script src="js/main.js"></script>
    
  </section>

  

 </footer>
</html>
